<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:22px">
        @if (RecordsNumber == "todos")
        {
            <h3>Mostrando todos los registros</h3>
        }
        else
        {
            <nav>
                <ul class="pagination">
                    @foreach (var link in links)
                    {
                        <li @onclick=@(() => InternalSelectedPage(link)) style="cursor: pointer" class="page-item @(link.Enable ? null : "disabled") @(link.Enable ? "active" : null)">
                            <a class="page-link">@link.Text</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="records">Registros por página:</label>
        <select class="form-select" id="records" @onchange="ChangeRecordsPerPage">
            <option value="" selected disabled>Selecciona el numero de registros</option>
            @foreach (var value in recordsNumber)
            {
                if (value.Value == "10")
                {
                    <option value="@value.Value" selected>@value.Text</option>
                    continue;
                }
                <option value="@value.Value">@value.Text</option>
            })
        </select>
    </div>
</div>







