@page "/residentialUnits"

@if (totalRecords == 0)
{
    <Loading/>
}
else
{
    <MudTable Items="@ResidentialUnits"
              @ref="table"
              ServerData="@(new Func<TableState, Task<TableData<ResidentialUnit>>>(LoadListAsync))"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"><i class="bi bi-buildings"></i> Unidades Residenciales</MudText>
                <a href="/residentialUnits/create"><MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Add" Color="Color.Info">Crear</MudButton></a>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nombre</MudTh>
            <MudTh>Direccion</MudTh>
            <MudTh>Ciudad</MudTh>
            <MudTh>Apartamentos</MudTh>
            <MudTh>Zonas Comunes</MudTh>
            <MudTh>Noticias</MudTh>
            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nombre">@context.Name</MudTd>
            <MudTd DataLabel="Direccion">@context.Address</MudTd>
            <MudTd DataLabel="Ciudad">@context.City?.Name</MudTd>
            <MudTd DataLabel="Apartamentos">
                <a href="/apartments/@context.Id">
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.OtherHouses" Color="Color.Info">
                        @context.ApartmentsNumber
                    </MudButton> 
                </a>
            </MudTd>
            <MudTd DataLabel="Zonas Comunes">
                <a href="/commonzones/@context.Id">
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.SportsGymnastics" Color="Color.Primary">
                        @context.CommonZonesNumber
                    </MudButton>
                </a>
            </MudTd>
            <MudTd DataLabel="Noticias">
                <a href="/news/@context.Id">
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Newspaper" Color="Color.Primary">
                        @context.NewsNumber
                    </MudButton>
                </a>
            </MudTd>
            <MudTd DataLabel="Acciones">
                <a href="/residentialUnits/edit/@context.Id"><MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Edit" Color="Color.Warning">Editar</MudButton></a>
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick=@(() => DeleteAsync(@context))>Eliminar</MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Numero de Registros:"
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText="Todos" />
        </PagerContent>
    </MudTable>
}
