@page "/residentialUnits"

@if (loading)
{
    <Loading/>
}
else
{
    <MudTable Items="@ResidentialUnits"
              @ref="table"
              ServerData="@(new Func<TableState, Task<TableData<ResidentialUnit>>>(LoadListAsync))"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"><i class="bi bi-buildings"></i> Unidades Residenciales</MudText>
                <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Add" Color="Color.Info" OnClick="CreateAction">Crear</MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nombre</MudTh>
            <MudTh>Direccion</MudTh>
            <MudTh>Ciudad</MudTh>
            <MudTh>Apartamentos</MudTh>
            <MudTh>Zonas Comunes</MudTh>
            <MudTh>Noticias</MudTh>
            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nombre">@context.Name</MudTd>
            <MudTd DataLabel="Direccion">@context.Address</MudTd>
            <MudTd DataLabel="Ciudad">@context.City?.Name</MudTd>
            <MudTd DataLabel="Apartamentos">
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.OtherHouses" Color="Color.Info" OnClick="@(() => ApartmentsAction(@context))">
                    @context.ApartmentsNumber
                </MudButton> 
            </MudTd>
            <MudTd DataLabel="Zonas Comunes">
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.SportsGymnastics" Color="Color.Primary" OnClick="@(() => CommonZonesAction(@context))">
                    @context.CommonZonesNumber
                </MudButton>
            </MudTd>
            <MudTd DataLabel="Noticias">
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Newspaper" Color="Color.Tertiary" OnClick="@(() => NewsAction(@context))">
                    @context.NewsNumber
                </MudButton>
            </MudTd>
            <MudTd DataLabel="Acciones">
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="@(() => EditAction(@context))">Editar</MudButton>
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick=@(() => DeleteAsync(@context))>Eliminar</MudButton>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No se encontraron registros.</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString="Numero de Registros:"
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText="Todos" />
        </PagerContent>
    </MudTable>
}
